body{
  background: #ec008c;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fc6767, #ec008c);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fc6767, #ec008c);
  }
.join-card{
    border-radius: 10px;
    width: min(100%,586px);
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}
.join-content{
  font-weight: bold;
}
#footer:hover{
  text-decoration: underline;
}
.box{
  height: 32px;
  border-width: 1px;
  border-style: solid;
}
.button{
  border-radius: 5px;
  border-width: 0px;
  height: 40px;
  background: #ec008c;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fc6767, #ec008c);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fc6767, #ec008c);
  cursor: pointer;
  color: white;
}