<!DOCTYPE html>
<html>
<head>
    <title>Search For Services</title>
</head>
<body>
    <h1>user's Location</h1>
    <form action="" method="post">
        {% csrf_token %}
        <select required name="service" >
            {% for service in global %}
            <option>{{service}}</option>
            {% endfor %}
        </select><br>
        <button type="submit" value="search" name="button">Search</button>
        <br>
        <ul>
            {% for service in globalService %}
            <li>
                name:{{service.Name}}
                Service:{{service.services}}
                <br>
                hire from:<input type="datetime-local" name="from" >
                hire duration:<select name="duration">
                    <option value="1">1 hour</option>
                    <option value="2">2 hour</option>
                    <option value="3">3 hour</option>
                </select>
                <button type="sumbit" value="{{ service.id }}" name="button">hire</button>
            </li> 
            {% endfor %}
        </ul>
    </form>
    <script>
        const getlocation = () => {
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition((position) => {
                        let lat = position.coords.latitude;
                        let long = position.coords.longitude;
                        document.getElementById("lat").innerHTML = lat;
                        document.getElementById("long").innerHTML = long;
                    }
                )
                }
            }
    </script>
</body>
</html>